<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Custom Theme">
    <!-- END META -->
    
    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="../img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
      Olive Admin - Flat & Responsive Bootstrap Admin Template
    </title>
    <!-- BEGIN STYLESHEET-->
        <script src="../background/js/sweetalert2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../background/css/sweetalert2.min.css">
		<link href="../background/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
		<link href="../background/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
		<link href="../background/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- FONT AWESOME ICON CSS -->
		<link href="../background/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
		<link href="../background/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <!--[if lt IE 9]>
<script src="../background/js/html5shiv.js">
</script>
<script src="../background/js/respond.min.js">
</script>
<![endif]-->
     <!-- END STYLESHEET-->
  </head>
  <body class="login-screen">
    <!-- BEGIN SECTION -->
    <div class="container">
      <form class="form-signin" th:action="@{/background/register}" method="post">
        <h2 class="form-signin-heading">
         注册
        </h2>
		<!-- LOGIN WRAPPER  -->
        <div class="login-wrap">
          <p style="color: red;"  hidden  id="info"th:text="${msg}">
          <p style="color: red;"  hidden  id="state"th:text="${state}">
          </p>
          <input type="text" name="username"  class="form-control" placeholder="账号" autofocus>
          <input type="text" name="name"  class="form-control" placeholder="真实姓名">
          <input type="text" name="uemail"  class="form-control" placeholder="邮箱(找回密码)" >
          <!--<input type="text" name="vcode"  class="form-control" placeholder="邮箱验证码" >-->
          <input type="password" class="form-control" name="password" placeholder="密码">
          <button id="oncheck" class="btn btn-lg btn-login btn-block" type="submit">
            注册
          </button>
          <div class="login-social-link">
            <a href="/background/active"  style="background: #5193ea;box-shadow: 0 4px #2775e2;float: left;">
              <i class="fa fa-facebook">
              </i>
              激活邮箱
            </a>
            <a href="/background/retrieve" class="twitter" style="margin-left: 10px">
              <i class="fa fa-twitter">
              </i>
              重新获取
            </a>
          </div>
          <div class="registration">
         已有账号?
            <a class="" href="/background/login">
             去登录
            </a>

        </div>
        </div>
		<!-- END LOGIN WRAPPER -->
      </form>
    </div>
    <!-- END SECTION -->
    <!-- BEGIN JS -->
    <script src="../background/js/jquery.js" ></script><!-- BASIC JQUERY LIB. JS -->
	<script src="../background/js/bootstrap.min.js" ></script><!-- BOOTSTRAP JS -->
    <!-- END JS -->
  </body>
<script type="text/javascript">


    if(document.getElementById("info").innerHTML!=''&&document.getElementById("state").innerHTML=='error')
    {

        swal({
            title:document.getElementById("info").innerHTML,
            // text: '是否继续',
            type: 'error',
            confirmButtonText: '好的'
        })
    }
    else if(document.getElementById("state").innerHTML=='success')
    {
            swal(
                {title:document.getElementById("info").innerHTML,
                    text:"可以在获取激活码后在本页面跳转激活邮箱",
                    type:"success"}
                    ,function(){window.location.href="/background/active"}
            );

        // swal({
        //     title:document.getElementById("info").innerHTML,
        //     // text: '是否继续',
        //     type: 'success',
        //     confirmButtonText: '好的'
        // })
    }
</script>
</html>

